.esriLegendServiceLabel {
    font-size: 14px;
}
.esriLegendLayer{
    font-size: 12px;
}
.red{
    background-image: url(../images/red.png);
}
.LayerSwipe .vertical {
    width: 1px !important;
}
#buildDialog_underlay {
    visibility: hidden;
}
.claro .dijitButton {
  margin: 0;
  margin-left: 5px;
}.claro .dijitSelect .dijitArrowButton {
background-color: white;

}
.claro .dijitSelect {
    background-color: white;
}
#shareButton
{
    border: 0px ;
    padding: 2px 4px 4px 4px;
  color: white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #3366CC;
  -webkit-transition: border .15s ease-in-out;
  -moz-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;
}
#apply,#reset
{
   cursor: pointer;
   padding: 5px 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
#apply:hover,#apply:focus,#reset:hover,#reset:focus {
    background-color: #428BC9!important;
    border-color: whitesmoke;
    color: white;
}
/*#reset
{
     border: 0px;
  padding: 2px 4px 4px 4px;
  color: white;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color:#3366CC ;
  -webkit-transition: border .15s ease-in-out;
  -moz-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;
}*/
.claro .dijitButton .dijitButtonNode {
     padding: 0px;
        border: 0px solid transparent;
    box-shadow: none;
    background-color: transparent;
}